@use '../../../styles/variables' as *;

.pika-single {
  border: 1px solid #e8e8e8;
  border-radius: 1rem;
  background-color: $light-color;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05) !important;
}

.pika {
  &-single {
    transform: translateX(0.5rem);
  }

  &-day {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;

    &:hover {
      color: black;
      background-color: $tertiary-color;
      border-radius: 1rem;
    }
  }

  &-weekdays {
    text-decoration: none !important;
    border-bottom: none !important;
    cursor: default !important;
  }
}

.is-selected .pika-day {
  background-color: $clear-color !important;
  color: white !important;
  border-radius: 1rem;
}
