@use '../../styles/variables' as *;

.react-datepicker__triangle {
  display: none;
}

.form,
.react-datepicker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  border: 1px solid #e8e8e8;
  border-radius: 1rem;
  background-color: rgb(255, 255, 255);
}

.react-datepicker {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.form {
  padding: 3rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);

  &__container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 650px;
    margin: 2rem auto;
  }

  &__title {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.5rem;
    h1 {
      margin: 0;
    }

    &__subtext {
      color: rgb(100, 100, 100);
    }
  }

  &__line {
    display: flex;
    gap: 1rem;
    width: 100%;
  }

  &__field {
    width: 100%;
    min-width: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
  }

  &__label {
    font-weight: 500;
  }

  &__input,
  .plugin-datepicker__input {
    height: 3rem;
    padding: 0.75rem 1.25rem;
    border-radius: 0.7rem;
    border: 1px solid #e8e8e8;
    background-color: $background-color;
    font-size: 1rem;
    outline: none;
    box-sizing: border-box;
  }

  &__date {
    position: relative;
    width: 100%;

    .form__input,
    .plugin-datepicker__input,
    .react-datepicker-wrapper {
      width: 100%;
    }

    &__icon {
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
      pointer-events: none;
      height: 1.2rem;
      width: 1.2rem;
      color: rgb(170, 170, 170);
    }
  }

  &__button {
    margin-top: 1rem;
    width: 100%;
    padding: 0.9rem 1.2rem;

    background-color: $clear-color;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;

    border: none;
    border-radius: 0.7rem;
    cursor: pointer;
    transition: filter 0.2s ease;

    &:hover {
      filter: brightness(1.1);
    }
  }
}
