@use '../../styles/variables' as *;

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #e8e8e8;
  border-radius: 1rem;
  background-color: $light-color;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05) !important;

  @media (max-width: 599px) {
    border-radius: 0;
  }
}

.form {
  gap: 1.5rem;
  padding: 3rem;

  @media (max-width: 768px) {
    padding: 2rem;
  }

  &__body {
    @media (max-width: 768px) {
      margin: 0rem 2rem;
    }
    @media (max-width: 599px) {
      margin: 0;
    }
  }

  &__container {
    width: 650px;

    @media (max-width: 768px) {
      width: 100%;
      max-width: 650px;
      margin: 0rem 2rem;
    }
  }

  &__title {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.5rem;
    h1 {
      margin: 0;
    }

    &__subtext {
      color: rgb(100, 100, 100);
    }

    @media (max-width: 599px) {
      align-items: center;
    }
  }

  &__line {
    display: flex;
    gap: 1rem;
    width: 100%;

    @media (max-width: 599px) {
      flex-direction: column;
    }
  }

  &__field {
    width: 100%;
    min-width: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
  }

  &__label {
    font-weight: 500;
  }

  &__input {
    height: 3rem;
    padding: 0.75rem 1.25rem;
    border-radius: 0.7rem;
    border: 1px solid #e8e8e8;
    background-color: $background-color;
    font-size: 1rem;
    outline: none;
    box-sizing: border-box;
    width: 100%;

    &--error {
      border: 2px solid #ff4f4f;
    }

    &::placeholder {
      color: $grey-color;
      opacity: 1;
    }

    &::-webkit-input-placeholder,
    &:-ms-input-placeholder,
    &::-ms-input-placeholder {
      color: $grey-color;
    }
  }

  &__date {
    position: relative;
    width: 100%;

    &__icon {
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
      pointer-events: none;
      height: 1.2rem;
      width: 1.2rem;
      color: rgb(170, 170, 170);
    }
  }

  &__button {
    margin-top: 1rem;
    width: 100%;
    padding: 0.9rem 1.2rem;

    background-color: $clear-color;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;

    border: none;
    border-radius: 0.7rem;
    cursor: pointer;
    transition: filter 0.2s ease;

    &:hover {
      filter: brightness(1.1);
    }
  }
}

.form__date {
  .react-datepicker {
    &-wrapper {
      width: 100%;
    }

    &__input-container {
      width: 100%;
      input {
        width: 100%;
      }
    }
  }
}

select.form__input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  &:has(option[value='']:checked) {
    color: $grey-color;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
  box-shadow: 0 0 0 1000px $background-color inset !important;
  -webkit-text-fill-color: $text-color !important;
}
