@use '../../styles/variables' as *;

.form,
.pika-single {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #e8e8e8;
  border-radius: 1rem;
  background-color: $light-color;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05) !important;
}

.form {
  gap: 1.5rem;
  padding: 3rem;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 650px;
    margin: 2rem auto;
  }

  &__title {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.5rem;
    h1 {
      margin: 0;
    }

    &__subtext {
      color: rgb(100, 100, 100);
    }
  }

  &__line {
    display: flex;
    gap: 1rem;
    width: 100%;
  }

  &__field {
    width: 100%;
    min-width: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
  }

  &__label {
    font-weight: 500;
  }

  &__input {
    height: 3rem;
    padding: 0.75rem 1.25rem;
    border-radius: 0.7rem;
    border: 1px solid #e8e8e8;
    background-color: $background-color;
    font-size: 1rem;
    outline: none;
    box-sizing: border-box;
    width: 100%;

    &--error {
      border: 2px solid #ff4f4f;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 30px $background-color inset !important;
      -webkit-text-fill-color: inherit !important;
    }
  }

  &__date {
    position: relative;
    width: 100%;

    &__icon {
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
      pointer-events: none;
      height: 1.2rem;
      width: 1.2rem;
      color: rgb(170, 170, 170);
    }
  }

  &__button {
    margin-top: 1rem;
    width: 100%;
    padding: 0.9rem 1.2rem;

    background-color: $clear-color;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;

    border: none;
    border-radius: 0.7rem;
    cursor: pointer;
    transition: filter 0.2s ease;

    &:hover {
      filter: brightness(1.1);
    }
  }
}

.pika {
  &-single {
    transform: translateX(0.5rem);
  }

  &-day {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;

    &:hover {
      color: black;
      background-color: $tertiary-color;
      border-radius: 1rem;
    }
  }

  &-weekdays {
    text-decoration: none !important;
    border-bottom: none !important;
    cursor: default !important;
  }
}

.is-selected .pika-day {
  background-color: $clear-color !important;
  color: white !important;
  border-radius: 1rem;
}
