@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

// couleurs principales
$primary-color: #414c16;
$secondary-color: #326f30;
$tertiary-color: #eef3ed;

// couleurs neutres
$text-color: #1d361e;
$background-color: #fafafa;
$light-color: #fff;
$clear-color: #85a15b;
$grey-color: #6a8c69;
$dark-color: #12002b;

// police
$font-family: 'Inter', sans-serif;
