@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

// couleurs principales
$primary-color: #414c16;
$secondary-color: #326f30;
$tertiary-color: #f0f5e6;

// couleurs neutres
$text-color: #2c3e50;
$background-color: #f5f5f5;
$light-color: #fff;
$grey-color: #6a8c69;
$dark-color: #12002b;

// police
$font-family: 'Inter', sans-serif;
