@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

// couleurs principales
$primary-color: #414c16;
$secondary-color: #98ac3b;

// couleurs neutres
$text-color: #2c3e50;
$heading-color: #222;
$light-color: #fff;
$grey-color: #6a8c69;
$dark-color: #12002b;

// police
$font-family: 'Inter', sans-serif;
