// variables
@use './variables' as *;

// components
@use '../components/header/header';

html {
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $text-color;
}

body {
  margin: 0;
  background-color: gray;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
