// variables
@use './variables' as *;

// components
@use '../components/header/header';

// pages
@use '../pages/employeeCreate/employeeCreate';

html {
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.9rem;
  color: $text-color;
}

body {
  margin: 0;
  background-color: $background-color;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
