// variables
@use './variables' as *;

// components
@use '../components/header/header';

html {
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-size: 14px;
  color: $text-color;
}

body {
  margin: 0;
  background-color: $background-color;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0.5rem 0rem;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
