// variables
@use './variables' as *;

// components
@use '../components/header/header';

// ui
@use '../components/ui/modal/hrnetModal';
@use '../components/ui/datepicker/datepicker';
@use '../components/ui/search/employeeSearchBar';
@use '../components/ui/table/employeeTable';

// pages
@use '../pages/employeeCreate/employeeCreate';
@use '../pages/employeeList/employeeList';
@use '../pages/notFound/notFound';

html {
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.9rem;
  color: $text-color;
}

body {
  min-width: 440px;
  margin: 0;
  background-color: $background-color;
}

#root {
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin: 2rem auto;
}

abbr {
  text-decoration: none !important;
  border-bottom: none !important;
  cursor: default !important;
}
