@use '../../../styles/variables' as *;

.list__actions {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  transform: translateY(1rem);
}

.employee-search {
  display: flex;
  justify-content: end;
  align-items: center;

  &__wrapper {
    position: relative;
  }

  &__input {
    width: 20rem;
    padding: 0.7rem 0rem 0.7rem 1rem;
    border-radius: 1rem;
    border: 1px solid #e8e8e8;
    font-size: 0.9rem;
    outline: none;

    &:focus {
      border-color: $clear-color;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05) !important;
    }
  }

  &__clear {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 0.9rem;
    line-height: 1;
  }
}
