@use '../../styles/variables' as *;

.main-nav {
  background-color: white;
  border-bottom: solid rgb(227, 227, 227) 1px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    max-width: 1240px;
    padding: 0.5rem 2rem;
    margin: 0 auto;
    height: 4rem;
  }

  &__logo {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__image {
    max-width: 100%;
    width: 3.2rem;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: $text-color;

    @media (max-width: 599px) {
      display: none;
    }
  }

  &__title {
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: 600;
  }

  &__subtitle {
    text-decoration: none;
    color: $grey-color;
  }

  &__links {
    display: flex;
    gap: 0.8rem;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 0.5em;
    text-decoration: none;
    font-weight: 600;
    color: $grey-color;

    padding: 0.7rem 1.1rem;
    border-radius: 0.9rem;
    transition: all 250ms ease;

    &:hover {
      color: $secondary-color;
      background-color: $tertiary-color;
    }

    &.active {
      color: $secondary-color;
      background-color: $tertiary-color;
    }
  }

  &__icon {
    width: 1.2rem;
    height: 1.2rem;
  }
}
