@use '../../styles/variables' as *;

.main-nav {
  background-color: white;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
  }

  &__logo {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 0.6rem;
  }

  &__image {
    max-width: 100%;
    width: 40px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: $primary-color;
  }

  &__title {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
  }

  &__subtitle {
    text-decoration: none;
    font-size: 12px;
    color: $grey-color;
  }

  &__links {
    display: flex;
    gap: 0.8rem;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    text-decoration: none;
    font-weight: 600;
    color: $grey-color;

    padding: 0.6rem 1rem;
    border-radius: 12px;
    transition: all 250ms ease;

    &:hover {
      color: $secondary-color;
      background-color: rgb(238, 243, 237);
    }

    &.active {
      color: $secondary-color;
      background-color: rgb(238, 243, 237);
    }
  }

  &__item {
    font-weight: bold;
    margin-right: 0.8rem;
    text-decoration: none;
    color: $text-color;

    &:hover {
      text-decoration: underline;
    }
  }
}
