.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin-top: 2.5rem;

  &__icon {
    color: #ff4f4f;
  }

  span {
    font-weight: 600;
    margin: 0;
    padding: 0;
  }

  &__button {
    width: auto;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    margin-top: 1rem;
  }
}
